<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
      Input1: {{ (inputForm | async)?.input1 }}
    </p>
    <p>
      Input 2: {{ (inputForm | async)?.input2 }}
    </p>  
    <p>
      Input 3: {{ (inputForm | async)?.input3 }}
    </p>

    <ion-card *ngFor="let file of files | async">
      <ion-card-header>
        {{ file.created | date:'medium' }}
      </ion-card-header>
   
      <ion-card-content>
   
        <ion-button expand="block" fill="outline" (click)="viewFile(file.fullPath)">
          <ion-icon name="eye"></ion-icon>
          {{ file.fullPath }}
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-button shape="round" expand="block" (click)="deleteReceipt()">
      DELETE ENTRY
    </ion-button>


</ion-content>
